:root {
    --Head-Font-re: calc(22pt + 0.15vw);
    --Subhead-Font-re: calc(18pt + 0.15vw);
    --Para-Font-re: calc(12pt + 0.15vw);
    --Subpara-Font-re: calc(10pt + 0.15vw);
    --letter-spacing-re: 0.04em;
    --line-height-re: 1.6195;
}

@media only screen and (max-width: 40em) {
    #transform__QES{
        transform: translate(70px, 25px) !important;
    }
    #logo img {
        width: 265px;
        padding: 10px 0px 10px 0px;
    }
    .Heading {
        font-size: var(--Head-Font-re);
    }
    .line__full{
        margin-top: 10rem;
    }
    .break {
        display: none;
    }
    .banner-text-div {
        padding: 20px 25px 46px 25px;
        margin: 30px 10px 30px 10px;
    }
    .banner-text-div #btns {
        left: 85px;
    }
    .gallery {
        margin: 70px auto;
    }
    .gallery .tile {
        width: 100%;
    }
    .Wrapper__Side1 {
        padding: 0px 0px 0px 0px;
    }
    .One__Column {
        padding: 0px 20px 0px 20px;
    }
    .QES_AsideRow {
        flex-direction: column;
    }
    .Wrapper__Side1 {
        padding: 50px 0px 50px 0px;
    }
    .Footer__showcase h2 {
        margin-top: 30px;
    }
    .Footer__showcase {
        width: 100%;
        height: 580px;
        position: relative;
        color: white;
        max-width: 1600px;
    }
    .Footer__showcase .overlay {
        width: 100%;
        height: 580px;
        background-color: rgba(0, 35, 82, 0.7);
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 999
    }
    .underline1::after{
        width: 33% !important;
    }
    .underline2::after{
        width: 56% !important;
    }
    .underline3::after{
        width: 25% !important;
    }
    .underline4::after{
        width: 22% !important;
    }
    .underline5::after{
        width: 32% !important;
    }
    .underline6::after{
        width: 41% !important;
    }
    .underline7::after{
        width: 32% !important;
    }
    .underline8::after{
        width: 51% !important;
    }
    .underline9::after{
        width: 66% !important;
    }
    .QES_AsideRow{
        padding: 0px 10px 0px 10px;
    }
    .Footer__showcase h2{
        font-size: var(--Subhead-Font-re);
        padding: 0px 10px 0px 10px;
    }
    .Footer__showcase #uniags{
        font-size: var(--Para-Font-re);
        padding: 0px 10px 0px 10px;
    }
}


@media screen and (max-width: 1080px) {
    .underline1::after {
        width: 27%;
    }
    .underline2::after{
        width: 47%;
    }
    .underline3::after{
        width: 21%;
    }
    .underline4::after{
        width: 19%;
    }
    .underline5::after{
        width: 28%;
    }
    .underline6::after{
        width: 36%;
    }
    .underline7::after{
        width: 28%;
    }
    .underline8::after{
        width: 43%;
    }
    .underline9::after{
        width: 57%;
    }
}

@media only screen and (max-width: 40em) and (orientation:landscape) {
    .Footer__showcase {
        width: 100%;
        height: 560px;
        position: relative;
        color: white;
        max-width: 1600px;
    }
    .Footer__showcase .overlay {
        width: 100%;
        height: 560px;
        background-color: rgba(0, 35, 82, 0.7);
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 999
    }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {
    .Footer__showcase {
        width: 100%;
        height: 700px;
        position: relative;
        color: white;
        max-width: 1600px;
    }
    .Footer__showcase .overlay {
        width: 100%;
        height: 700px;
        background-color: rgba(0, 35, 82, 0.7);
        position: absolute;
        top: 150px;
        left: 0;
        z-index: 999
    }
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {
    #Block {
        display: block;
    }
}

/* Desktops and laptops ----------- */

/*1280 x 800*/

@media screen and (max-width: 1280px) and (max-height: 800px) and (min-height: 769px) {
    #logo {
        width: 100px;
    }
    #Remoe_Itt {
        padding: 50px 60px 50px 60px;
    }
}

/*1280 x 960*/

@media screen and (max-width: 1280px) and (max-height: 960px) and (min-height: 801px) {
    #logo {
        width: 100px;
    }
}

/* (1280x720) Galaxy Note 2, WXGA */

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    #logo {
        width: 100px;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    nav a {
        padding: 0px 20px !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #Block {
        display: block;
    }
    nav a {
        padding: 0 10px;
    }
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) {}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xlarge screens */