@font-face {
    font-family: Ubuntu_Regular;
    src: url('../Fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu_Bold;
    src: url('../Fonts/Ubuntu/Ubuntu-Bold.ttf');
}

:root {
    --Head-Font: calc(32pt + 0.15vw);
    --Subhead-Font: calc(22pt + 0.15vw);
    --Para-Font: calc(12pt + 0.15vw);
    --Subpara-Font: calc(10pt + 0.15vw);
    --letter-spacing: 0.04em;
    --line-height: 1.6195;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Ubuntu_Regular;
}

/* Navbar Starts Here */

#container {
    margin: 0 auto;
    max-width: 890px;
}

.toggle, [id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
    background-color: white;
}

nav a:hover {
    color: #de3d3b;
}

.wrapper {
    position: relative;
    max-width: 1600px;
    top: 0;
    padding: 0px 25px;
}

#logo {
    display: block;
    padding: 8px 0px 2px 40px;
    float: left;
    line-height: 60px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

nav a {
    display: block;
    padding: 0 20px;
    color: black;
    font-size: var(--Subpara-Font);
    line-height: 60px;
    transform: translate(25px, 15px);
    text-decoration: none;
    font-family: Ubuntu_Regular;
    letter-spacing: 0.03em;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    background-color: white;
    transform: top .1s;
    box-shadow: rgb(99 99 99 / 10%) 0px 10px 40px 0px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: 0px;
    left: 0px;
}

li>a:only-child:after {
    content: '';
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0;
    }
    .toggle+a, .menu {
        display: none;
    }
    .toggle {
        display: block;
        background-color: #de3d3b;
        padding: 0 20px;
        color: #FFF;
        font-size: var(--Subpara-Font);
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    [id^=drop]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul ul .toggle, nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover, nav ul ul ul a {
        background-color: #de3d3b;
        color: white;
    }
    nav ul li ul li .toggle, nav ul ul a {
        background-color: #de3d3b;
        color: white;
    }
    nav a {
        transform: translate(0px, 0px) !important;
    }
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }
    nav ul ul li:hover>ul, nav ul li:hover>ul {
        display: none;
    }
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul li {
        position: static;
    }
}

@media all and (max-width: 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
}

@media screen and (max-width: 1080px) {
    nav a {
        transform: translate(25px, 0px);
    }
    #Block {
        display: none;
    }
    #logo img {
        padding: 10px 0px 10px 0px;
    }
    #logo {
        width: 300px !important;
        margin: auto;
    }
    .Heading br {
        content: '';
    }
    .Para br {
        content: '';
    }
}

/* nav responsive ends here */

/* Hero Banner Starts Here */

.Hero_Banner_Section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 580px;
    grid-column-gap: 0px;
    align-content: center;
    justify-content: center;
    max-width: 1600px;
    padding: 0px 0px 0px 0px;
}

.banner-image-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-text-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
    display: grid;
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay-div {
    display: grid;
    max-width: 100%;
    background-image: -webkit-linear-gradient(to right, #000000ed, #00000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #000000ed, #00000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text-div {
    display: grid;
    align-items: center;
    max-width: fit-content;
    background-color: #fff;
    margin: 100px 50px 100px 50px;
    padding: 30px 50px 30px 50px !important;
    z-index: 2;
    opacity: .95;
}

.Heading {
    font-size: var(--Head-Font);
    letter-spacing: 0.03em;
    line-height: 1.2165;
    font-family: Ubuntu_Bold;
    color: #000;
}

.Para {
    font-size: var(--Para-Font);
    letter-spacing: 0.03em;
    line-height: 1.6195;
    padding: 20px 0px 20px 0px;
}

.banner-text-div #circle::before {
    position: relative;
    content: "→";
    top: 0;
    border-radius: 50px;
    border: 2px solid #de3d3b;
    left: 0;
    padding: 15px 15px 15px 15px;
}

.banner-text-div #btns {
    position: absolute;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    left: 145px;
    font-size: var(--Subpara-Font);
    color: #000;
}

@media screen and (max-width: 1080px) {
    .banner-text-div {
        margin: 70px 50px 50px 50px;
    }
}

/* Hero Banner Ends Here */